*{
    color: black;
    font-size: 20px;
}


.inputBox{
    margin: 10px;
}

span{
    white-space: nowrap;
}

.thead,tr{
    background-color: white;
}

.tr,
th{
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    background-color: #0B6E4F;
}
tbody,
tr:nth-child(odd){
    background-color: #c2f6cb;
}

.tbody,
tr,
td{
    font-size: 15px;
    white-space: nowrap;
    width: 20%;
    overflow-wrap: break-word;
    padding: 0.5rem;

}



