{% extends 'base.html' %}

{% block head %}
    <title>TiT LoRd</title>
{% endblock %}

{% block body %}
    <h1>BIGUS DIGUS</h1>
    <h2>mega dig</h2>
    <div class="content" style="width: 800px; margin: 0 auto; color: #000;"  >
        <h3>Registrated sex offenders</h3>
        <div class="form">
            <form action="/search" method="POST">
                Name:
                <input type="text" name="name" id="name">
                Surname:
                <input type="text" name="surname" id="surname">
                <input type="submit" value="Add offender">
            </form>
        </div>
        <table>
            <tr style="margin: 20px;">
                <th>ID</th>
                <th>name</th>
                <th>surname</th>
                <th>edit</th>
            </tr>
            {% for i in offenders  %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.surname }}</td>
                <td><button onclick="window.location.href='/studentPage/{{ i.id }}'">upravit</button></td>
            </tr>
            {% endfor %}
{% endblock %}

